body{
    margin: 3em; 
    text-align: center;
    background-color: #1E2749;
    font-family: 'Playfair Display', serif;
    border-radius: 10px;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    box-shadow: 0 0 5rem #273469
 }

#green-box{
    background-color: #273469
    border-radius: 10px;
}

#cutie{
    width: 100%;
}

h1{
    margin: 1em 0em 0em 0em;
    padding: 1.2em 0.5em 0.5em 0.5em;
    color: #FAFAFF;
}

#animal-label{
    color:#FAFAFF
}

#langs{
    color: #FAFAFF
}

button{
    width: 25%;
    height: 20%;
    border: none;
    outline: none;
    background: #E4D9FF;
    color: #1E2749;
    font-size: 18px;
    font-family: 'Playfair Display', serif;
    border-radius: 40px;
    text-align: center;
    box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

select{
    font-family: 'Playfair Display', serif;
    color: #1E2749;
}

option{
    font-family: 'Playfair Display', serif;
    color: #1E2749;
}

#randos{
    background-color: #FAFAFF;
    display: flex;
    min-width: 80vw;
    align-items: center;
    justify-content: center;
    color: #1E2749;
    min-height: 15vh;
}

#creator-details{
    color: #FAFAFF;
}